{{!-- Skill Rank Info --}}
<div class="flexcol skill-rank">
  <ol class="form-group">
    <li class="flexrow skill-rank-formula">
      <label>{{localize "PF1.SkillBonusRankFormula"}}</label>
      <input class="formula" type="text" name="data.details.bonusSkillRankFormula" value="{{data.details.bonusSkillRankFormula}}" placeholder="{{localize "PF1.Formula"}}"/>
    </li>
    <a class="skill-lock-button{{#unless @root.skillsLocked}} unlocked{{/unless}}" title="{{localize "PF1.ToggleSkillLock"}}"></a>
  </ol>
  {{#unless useBGSkills}}
  <ol class="form-group">
    <li class="flexrow skill-rank-info tooltip">
      <span class="tooltipcontent">
        {{#if sourceData.skillRanks}}
        {{localize "PF1.FromSources"}}:<br/>
        {{#each sourceData.skillRanks as |src|}}
        {{src.name}}: {{src.value}}<br/>
        {{/each}}
        {{/if}}
      </span>
      <table class="skill-ranks">
        <thead>
          <tr>
            <th>{{localize "PF1.SkillRankPlural"}}</th>
            <th>{{localize "PF1.Used"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="center ranks-max">{{skillRanks.allowed}}</td>
            <td class="center ranks-used">{{skillRanks.used}}</td>
          </tr>
        </tbody>
      </table>
    </li>
  </ol>
  {{else}}
  <ol class="form-group tooltip">
    <li class="flexrow skill-rank-info">
      <span class="tooltipcontent">
        {{#if sourceData.skillRanks}}
        {{localize "PF1.FromSources"}}:<br/>
        {{#each sourceData.skillRanks as |src|}}
        {{src.name}}: {{src.value}}<br/>
        {{/each}}
        {{/if}}
      </span>
      <table class="skill-ranks">
        <thead>
          <tr>
            <th>{{localize "PF1.SkillRankPlural"}}</th>
            <th>{{localize "PF1.Used"}}</th>
            <th>{{localize "PF1.AdventureRanksToBG"}}</th>
            <th>{{localize "PF1.BGSkillRanks"}}</th>
            <th>{{localize "PF1.BGUsed"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="center ranks-max">{{skillRanks.allowed}}</td>
            <td class="center ranks-used">{{skillRanks.used}}</td>
            <td class="center ranks-transferred">{{skillRanks.sentToBG}}</td>
            <td class="center ranks-max-bg">{{skillRanks.bgAllowed}}</td>
            <td class="center ranks-used-bg">{{skillRanks.bgUsed}}</td>
          </tr>
        </tbody>
      </table>
    </li>
  </ol>
  {{/unless}}
</div>

{{#if useBGSkills}}
<nav class="sheet-navigation tabs" data-group="skillset">
  <a class="item" data-tab="adventure" data-group="skillset">{{localize "PF1.SkillTypeAdventure"}}</a>
  <a class="item" data-tab="background" data-group="skillset">{{localize "PF1.SkillTypeBackground"}}</a>
</nav>

<section class="skillset-body">
  <div class="tab flexcol" data-group="skillset" data-tab="adventure">
    {{> "systems/pf1/templates/actors/parts/actor-skills.hbs" skillset=skillsets.adventure.skills isBackgroundSkills="false" skillGroup="adventure"}}
  </div>

  <div class="tab flexcol" data-group="skillset" data-tab="background">
    {{> "systems/pf1/templates/actors/parts/actor-skills.hbs" skillset=skillsets.background.skills isBackgroundSkills="true" skillGroup="background"}}
  </div>
</section>
{{else}}
<nav class="sheet-navigation tabs" data-group="skillset" style="display: none">
  <a class="item" data-tab="all">{{localize "PF1.AllSkills"}}</a>
</nav>

<section class="skillset-body">
  <div class="tab flexcol" data-group="skillset" data-tab="all">
    {{> "systems/pf1/templates/actors/parts/actor-skills.hbs" skillset=skillsets.all.skills isBackgroundSkills="false" skillGroup="adventure"}}
  </div>
</section>
{{/if}}