<h2>{{localize "PF1.CreateItemForSpell" 0=name}}</h2>

<div>
  {{!-- Spell Level --}}
  <div class="form-group">
    <label>{{localize "PF1.SpellLevel"}}</label>
    <input type="number" min="0" step="1" name="sl" value="{{sl}}" placeholder="1" />
  </div>

  {{!-- Caster Level --}}
  <div class="form-group">
    <label>{{localize "PF1.CasterLevel"}}</label>
    <input type="number" min="1" step="1" name="cl" value="{{cl}}" placeholder="1" />
  </div>
</div>
